/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
/* Tu ngoai vao trong,, tu tren xuuong duuoi,tuu tong quan den chi tiet */
/* 
1. Vị trí
2. Kích thước(width,height)
3. Màu sắc
4. Kiểu dáng (Kiểu chữ,Hình dạng,...)
*/
#app {
}

#header {
  height: 46px;
  background-color: black;
}
#nav {
}
#nav li {
  display: inline-block;
}
#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
  text-transform: uppercase;
}
#nav li:hover a {
  background-color: rgb(202, 199, 199);
  color: black;
}
#nav .subnav {
  display: none;
}

#slider {
}

#content {
}

#footer {
}
